<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}

    {% load static %}
     
    {% block contenidoQueCambia %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futbol Mundial</title>
    
   
</head>
<body class="contenido">
    <div class="textosobremi">

        <h1>
            Hola muy buenas a todos, mi nombre es Franco Alonso y paso a contarles que en este curso de Python fue la primera vez que vi algo en mi vida que tenga que ver con la programacion, soy nuevo en esto, sinceramente me costo pero di lo mejor de mi para poder terminar el curso con las condiciones explicadas, soy un fanatico del futbol y en base a eso viene este blog, espero que lo disfruten!
        </h1>
    
    </div>
    {% endblock %}
</body>
</html>